---
title: Welcome to Ôm
---

<div id="banner" class="smooth-scrollable text-center">

    <h1 class="text-center">Ôm</h1>

    <p class="text-center" id="content-banner">Le buddha bowl 100% bien être</p>
                            
                                  <div class="spacer"></div>
                                  <div class="spacer"></div> 
                                  

              <a href="#" class="btn btn-medium "> Découvrez notre menu !</a>
   

     <a href="#description"><i class="fa fa-angle-down fa-6 pulse scroll-btn"></i></a>
</div>
         
    <!-- ***************** fin 1ère division *********************-->
 


<div class="bg-gray little-padded " id="description">
    
       <h2 class="text-center "> <strong> Comment compose-t-on nos buddha bowl ?  </strong></h2>
      <div id="underlined-title" class="center-block"> </div>

  <div class="container text-center" id="1erdiv-composition">
          
   
    <div class="row">              
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="card" data-sr="enter bottom and scale up 20% over 1s">
            <%= image_tag "paper.svg" %>
            <h3>De superbes sauces au choix</h3>
            <p> Sauce basilic, tartare, poivre ... et plein d'autres  <strong>hmmm, on se régale</strong></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="card" data-sr="enter bottom and scale up 20% over 1.5s">
            <%= image_tag "computer.svg" %>
            <h3>Des noix et des graines</h3>
            <p>et en plus, elles sont de la région !</strong></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="card" data-sr="enter bottom and scale up 20% over 2s">
            <%= image_tag "analytics.svg" %>
            <h3>Des légumes</h3>
            <p> Des carottes, des choux, de la salade, aubergines ... c'est vous qui décidez !</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="card" data-sr="enter bottom and scale up 20% over 2.5s">
            <%= image_tag "data.svg" %>
            <h3>Des légumineuses</h3>
            <p> Et oui, Lentille, boulgoures, quinoa, là aussi c'est vous qui décidez ! </strong></p>
          </div>

        </div>
         <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="card" data-sr="enter bottom and scale up 20% over 2.5s">
            <%= image_tag "data.svg" %>
            <h3>Des Céréales !</h3>
            <p> Et là, enfin, vous l'avez ... oooh que oui vous l'avez votre repas complet, équilibré, biocool, et tout ça à partir de 9 euros ! </strong></p>
          </div>
        </div>
            
    </div>
  </div>

  <a href="#Les-menus"><i class="fa fa-angle-down fa-6 pulse scroll-btn"></i></a>
</div>

                          <!-- ***********************fin deuxième div **************-->


<div id="Les-menus" class="bg-success little-padded">
  <strong> <h2 class="text-center">Les menus</h2></strong>
  <div id="underlined-title" class="center-block"> </div>

  <div id="wholemenu-content">
      <div id="menu-description">
        <%= image_tag "test-image-menu.png" %>
        <div id="menu-middle">
          <h4> Menu Bowl + boisson</h4>
          <p class="text-justify">Un menu équilibré, parfait pour la pause du midi. Un plein de vitalité, et hop, c'est reparti pour une après midi de boulot</p>
        </div>
        <div id="menu-bottom">
           <%= image_tag "icone-menudescription-group.png" %>      
           <ul class="list-inline text-center" id="price-list">
              <li id="prix-menu"> 9  <i class="fas fa-euro-sign"> </i> </li>
              <li id="prix-menu" class="left-margin "> 11  <i class="fas fa-euro-sign"> </i> </li>
          </ul>
        </div>
        
      </div>


      <div id="menu-description">
         <%= image_tag "test-image-menu.png" %>
        <div id="menu-middle">
          <h4> Menu Bowl + soupe</h4>
          <p class="text-justify">Un menu équilibré, parfait pour la pause du midi. Un plein de vitalité, et hop, c'est reparti pour une après midi de boulot</p>
        </div>
        <div id="menu-bottom">
           <%= image_tag "icone-menudescription-group.png" %>
          
          <ul class="list-inline text-center" id="price-list">
              <li id="prix-menu"> 9  <i class="fas fa-euro-sign"> </i> </li>
              <li id="prix-menu" class="left-margin "> 11  <i class="fas fa-euro-sign"> </i> </li>
          </ul>
        </div>
        
      </div>

      <div id="menu-description">
         <%= image_tag "test-image-menu.png" %>
        <div id="menu-middle">
          <h4> Menu Bowl + boisson + soupe</h4>
          <p class="text-justify">Un menu équilibré, parfait pour la pause du midi. Un plein de vitalité, et hop, c'est reparti pour une après midi de boulot</p>
        </div>
        <div id="menu-bottom">
          <%= image_tag "icone-menudescription-group.png" %>
            <ul class="list-inline text-center" id="price-list">
              <li id="prix-menu"> 10  <i class="fas fa-euro-sign"> </i> </li>
              <li id="prix-menu" class="left-margin "> 13  <i class="fas fa-euro-sign"> </i> </li>
          </ul>
        </div>
        
      </div>
  </div>
</div>



<div id="testimonial" class="padded">
    <div class="container">
      <div class="row">
        
              <% data.testimonials.each do | testimonial | %>
                <div class="col-xs-12 col-sm-6"> 
                    <div  class="text-center testimonial">
                        <%= image_tag testimonial.image_file, class:"img-circle" %>
                        <h3> <%= testimonial.name %> </h3>
                        <p> <%= testimonial.content %> </p>
                    </div>
                </div>      
              <% end %>
       
      </div>
    </div>

</div>


                        <!-- ***********************fin troisième div **************-->





<div id="map" style="width: 100%;" class="smooth-scrollable "></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.852937,2.364178);

var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title:"You are here!"
});
</script>

<script>
$(function() {
  // Smooth scroll
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });

  // Scroll reveal
  window.sr = new scrollReveal();

});
</script>



